
html,body {
    text-align:center;
  
   font-family: 'Merienda', cursive;
    background:#EEEEEE;
    color:#333333;
  }
  
  #header{
    justify-self:center;
  }
  
  h1{
    font-family:  cursive;   
  }
  
  #main{
    display:grid;
    grid-template-rows:1fr auto auto 10%;
  }
  
  #img-div{   
    background:#ffff;
    margin:20px 0 20px 0;
    padding:10px 10%;
  }
  
  img{
    justify-self:center;
    max-width:100%;

    height:auto;
    display:block;  
    
  }
  
  #info{ 
    justify-self:center;
  }
  
  ul{
    margin:0px auto;
    max-width:60%;
    text-align:left;
  }
  
  
  #footer{
    justify-self:center;
  }

  .box{
    width: 767px;
    height: 100px;
    border: 7px solid rgba(255, 123, 0, 0.959);
    position: relative;
    left: 300px;
    border-radius: 20px;
  }
  #para{
   text-align: left;
   font-size: 1.5rem ;
   text-indent: 50px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   letter-spacing: 1px;

  }

